* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}

.kb-container {
    background-color: black;
    /* padding: 50px 0; */
    padding-top: 100px;
    padding-bottom: 100px;
}

#page {
    height: 100%;
}

#page-header {
    position: relative;
    display: block;
    top: 0;
    height: 100px;
    width: 100%;
    left: 0;
}

#page-footer {
    display: block;
    bottom: 0;
    height: 75px;
    width: 100%;
    left: 0;
}

#page-content {
    display: block;
    position: relative;
    margin: 10px;
    height: 100%;
    padding: 100px 0 75px;
}

.inner {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    transform-style: preserve-3d;
    position: relative;
    display: block;
    /* top:-125px;
    left:50%; */
    /* transform: translateX(-50%); */
    font-size:18px;
    line-height: 24px;
}

#score {
    font-family: Josefin Sans;
    position: relative;
    left: 75%;
    bottom: 30%;
    transform-style: preserve-3d;
    font-size:25px;
    line-height: 32px;
}

#tag {
    transform-style: preserve-3d;
    display: none;
    position:absolute;
    top: -55px;
    left:50%;
    transform: translateX(-50%);
    font-size:18px;
    line-height: 50px;
}

.blurry-text{
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.918);
}

.textshadow .blurry-text {
    color: transparent;
    text-shadow: 0 0 1px rgba(255,255,255,0.5);
 }

#cpmPar {
    font-family: Josefin Sans;
    position:absolute;
    left: 20%;
    bottom: 30%;
    font-size:26px;
    line-height: 18px;
}


#title {
    font-family: Josefin Sans;
    position:relative;
    left: 75%;
    bottom: 30%;
    font-weight: bold;
    font-size:26px;
    line-height: 22px;
}