/* ash */

.keyboard {
    /* TODO: Change position. */
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    background: #0B3954;
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);  */
    user-select: none;
    transition: bottom 0.4s;;
}

.keyboard_keys {
    text-align: center;
}

.keyboard_key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1.05 rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* the following helps us deal with the aboslute positioned keys. */
    position: relative;
}

.keyboard_key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard_key--wide {
    width: 12%
}

.keyboard_key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard_key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard_key--active::after {
    background: #BFD7EA;
}

.keyboard_key--dark {
   background: rgba(0, 0, 0, 0.25); 
}
